
h1{
	color: rgb(151, 79, 79); 
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
}
.body_backgorund{
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	background-color: white;
	border-style: ridge;
}
